/* TODO: need to make px and em standardized across project */

/* css variables */
:root {
  /* padding */
  --padding-header: 1em;
  --padding-body: 4em;
  --padding-contact: 8em 24em;

  /* z indices */
  --z-index-seven: 7;
  --z-index-six: 6;
  --z-index-five: 5;
  --z-index-four: 4;
  --z-index-three: 3;
  /* --z-index-two: 2; */
  --z-index-one: 1;
  --z-index-zero: 0;

  /* agnostic colors */
  --color-white: #fff;
  --color-off-white: #e0e9f4;
  --color-transparent-white: #ffffff52;

  --color-transparent-black: #00000052;
  --color-black: #000;
  --color-off-black: #011212;

  --color-light-orange: #ff7a00;
  --color-dark-orange: #fe4101;

  --color-light-blue: #ebf4ff;

  /* thematic colors */
  --color-article-purple: #c7c3df;
  --color-article-cream: #e8e0de;
}

@font-face {
  font-family: "Alverata Light";
  src: url("../../public/fonts/Alverata-Light.woff2");
}

@font-face {
  font-family: "Alverata Medium";
  src: url("../../public/fonts/Alverata-Medium.woff2");
}

.darker-grotesque {
  font-family: var(--font-darker-grotesque);
}

.abhaya-libre {
  font-family: var(--font-abhaya-libre);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  color: white;
  background-color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}
