/* TODO: need to make px and em standardized across project */

/* css variables */
:root {
  /* padding */
  --padding-header: 1em;
  --padding-body: 4em;
  --padding-contact: 8em 24em;

  /* z indices */
  --z-index-eight: 8;
  --z-index-seven: 7;
  --z-index-six: 6;
  --z-index-five: 5;
  --z-index-four: 4;
  --z-index-three: 3;
  /* --z-index-two: 2; */
  --z-index-one: 1;
  --z-index-zero: 0;

  /* agnostic colors */
  --color-white: #fff;
  --color-off-white: #eae0de;
  --color-transparent-white: #ffffff52;

  --color-transparent-black: #00000052;
  --color-black: #000;
  --color-off-black: #011212;

  --color-light-orange: #ff7a00;
  --color-dark-orange: #fe4101;

  --color-lighter-blue: #ebf4ff;
  --color-light-blue: rgb(127, 139, 155);
  --color-blue: #1c1c2d;
  --color-dark-blue: #040e21;

  /* thematic colors */
  --color-article-purple: #d6c3d8;
  --color-article-purple-accent: #ac8db3;
  --color-article-cream: #e8e0de;
  --color-article-blue: ##00031d;
}

@font-face {
  font-family: "Alverata Light";
  src: url("../../public/fonts/Alverata-Light.woff2");
}

@font-face {
  font-family: "Alverata Medium";
  src: url("../../public/fonts/Alverata-Medium.woff2");
}

.darker-grotesque {
  font-family: var(--font-darker-grotesque);
}

.abhaya-libre {
  font-family: var(--font-abhaya-libre);
}

.playfair-display {
  font-family: var(--font-playfair-display);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  color: var(--color-white);
  background-color: var(--color-black);
  zoom: 1 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 44px;
  line-height: 40px;
  font-weight: 500;
}

h2 {
  font-size: 38px;
  line-height: 32px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: 26px;
  font-weight: 600;
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 32px;
    line-height: 28px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 16px;
    font-weight: 500;
  }
  p {
    font-size: 18px;
  }
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ffff00;
  height: 1px;
}
