@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@100;600;700;800&family=Inter:wght@500;600&display=swap");

/* css variables */
:root {
  /* padding */
  --padding-body: 4em;
  --padding-contact: 8em 24em;

  /* z indices */
  --z-index-three: 1000;
  --z-index-two: 100;
  --z-index-one: 10;
  --z-index-zero: 0;

  /* colors */
  --color-dark-orange: #fe4101;
  --color-light-orange: #ff7a00;
  --color-white: #fff;
  --color-black: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Darker Grotesque", sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  color: white;
  background-color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}
